#jam_type {
	margin-bottom: 20px;
}

#jam_type > a {
	margin-right: 10px;
}

.jam_title {
	display: inline-block;
	font-weight: bold;
	font-size: larger;
	margin-top: 20px;
	margin-bottom: 5px;
}

.num_of_game, .num_of_jammer, .num_of_new_jammer {
	margin-left: 10px;
}

.by_list {
	max-width: 300px;
	min-width: 300px;
}

@media only screen and (max-width: 990px) {
	.num_of_game, .num_of_jammer, .num_of_new_jammer {
		display: block;
		margin-left: 0px;
		margin-bottom: 5px;
	}

	.rank {
		display: none;
	}
}
