#jammer_name {
	margin-bottom: 2px;
}

#jammer_link {
	display: inline-block;
	margin-bottom: 20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.h3_games_and_sort_btn {
	display: inline-block;
}

.h3_games {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
}

.sort_btn {
	margin-top: 0px;
}
