#jammer_name {
	margin-bottom: 2px;
}

#jammer_link {
	display: inline-block;
	margin-bottom: 20px;
}

h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.major_jam_tag {
	float: right;
	background-color: rgb(255, 164, 164);
	padding: 2px;
	border-radius: 2px;
	font-size: small;
}

.game {
	min-width: calc(100% + 2px);
	padding-left: 3px;
	border-radius: 2px;
	transform: translateX(-3px);
	white-space: nowrap;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.game > * {
	vertical-align: top;
	white-space: normal;
}

.game:nth-child(even) {
	background-color: rgb(255, 236, 230);
}

.game:nth-child(1) {
	font-weight: bold;
}

.title {
	display: inline-block;
	max-width: 240px;
	min-width: 240px;
	padding-right: 14px;
}

.by_list {
	display: inline-block;
	max-width: 150px;
	min-width: 150px;
	padding-right: 14px;
}

.jam {
	display: inline-block;
	max-width: 200px;
	min-width: 200px;
	padding-right: 14px;
}

.rank {
	display: inline-block;
	max-width: 50px;
	min-width: 50px;
	padding-right: 14px;
}

.ratings {
	display: inline-block;
	max-width: 65px;
	min-width: 65px;
	padding-right: 14px;
}

.score {
	display: inline-block;
	max-width: 60px;
	min-width: 60px;
	padding-right: 14px;
}

@media only screen and (max-width: 915px) {
	.major_jam_tag {
		float: none;
		margin-left: 7px;
	}

	.game:nth-child(1) {
		display: none;
	}

	.game_list {
		display: block;
	}

	.game {
		white-space: normal;
		border-radius: 0px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: calc(100vw - 20px);
		min-width: calc(100vw - 20px);
		transform: translateX(-10px);
	}

	.title {
		display: block;
		max-width: calc(100vw - 20px);
		min-width: calc(100vw - 20px);
		padding-right: 0px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	
	.by_list {
		display: block;
		max-width: calc(100vw - 20px);
		min-width: calc(100vw - 20px);
		padding-right: 0px;
		margin-bottom: 8px;
	}

	.by_list:before {
		content: 'by ';
	}
	
	.jam {
		display: block;
		max-width: calc(100vw - 20px);
		min-width: calc(100vw - 20px);
		padding-right: 0px;
		margin-bottom: 8px;
	}

	.rank {
		display: inline;
		max-width: auto;
		min-width: auto;
		padding-right: 0px;
		margin-right: 20px;
	}

	.rank:before {
		content: 'Rank: ';
	}
	
	.ratings {
		display: inline;
		max-width: auto;
		min-width: auto;
		padding-right: 0px;
		margin-right: 20px;
	}

	.ratings:before {
		content: 'Ratings: ';
	}
	
	.score {
		display: inline;
		max-width: auto;
		min-width: auto;
		padding-right: 0px;
		margin-right: 20px;
	}

	.score::before {
		content: 'Score: ';
	}
}
